.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea
.project
.settings
bin
build
gradle
gradlew
gradlew.bat
.classpath
local.properties

*.iml
*.iws

/captures
.externalNativeBuild
